# Generate requirements.txt using:
# pip-compile --upgrade --no-emit-index-url
# Install using:
# pip-sync

numpy
paho-mqtt
gunicorn
jsonschema
protobuf
python-dateutil
grpcio
grpcio-tools
fastapi
uvicorn
python-multipart
requests
isodate
geojson-pydantic
prometheus-fastapi-instrumentator
rodeo-bufr-tools ~= 0.3.3
python-dateutil
